<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/Employee_Page">พนักงาน</a>
    <a href="/Item_Page">สินค้า</a>
    <a href="/Ticket">ตั๋ว</a>
    <a href="/Customer_Page">ลูกค้า</a>
    <a href="/">Log Out</a>
</body>
</html>