<!-- Views -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="../css/Style.css">
</head>

<body>
    <h1>Login</h1>


    <h1>
        <a href="/Sign_up">sign up</a>

        <a href="/Sign_in">sign in</a></h1>

</body>

</html>