<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> sign in</h1>
    <form action="/Login_Customer" method="post">

        <label for="Name"> Name</label>
        <input type="text" id="Name" name="Name">
        <br>

        <input type="submit" value="Sign in">
    </form>
    <a href="/">กลับไปหน้าloing</a>
</body>

</html>