
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    
    <div class="container">
        
        <form>
            
            <h1>Welcome to PawnShop</h1>
            <h3></h3>

            <center><a href="/Sign_in">LOGIN</a></center><br><br>
            <center><a href="/Sign_up">SIGN UP</a></center>
        </form>
    </div>
</body>

</html>