<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/signin.css">
</head>

<body>
    
<div class="container">
    <form action="/Login_Customer" method="post">
        <h1>Sign in</h1>
        <div class="from-group">
        <input type="text" id="Name" class="form-control" name="Name" placeholder="Enter Name: "> 
        </div><br>
        <div class="from-group">
        <input type="password" id="Password" class="form-control" name="Password" placeholder="Enter Password: ">  
        </div> 
        
        <br><a href="/Sign_up">ยังไม่มีบัญชีใช่หรือไม่ ? </a>
        <div class="btn-signin">
           <input type="submit" value="Sign in">
        </div>
        
    </form>
    
</div>
    
</body>

</html>