<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/Employee_Post" method="post">

        <label for="Name"> ชื่อ</label>
        <input type="text" id="Name" name="Name">
        <br>

        <label for="Phone">เบอร์โทรศัพท์</label>
        <input type="text" id="Phone" name="Phone">
        <br>

        <label for="Salary">เงินเดือน</label>
        <input type="text" id="Salary" name="Salary">
        <br>

        <label for="Post">ตำแหน่ง</label>
        <input type="text" id="Post" name="Post">
        <br>


        <input type="submit" value="เพิ่มข้อมูลพนักงาน">
    </form>
</body>

</html>