<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link rel="stylesheet" href="../css/addEmployee.css">
</head>

<body>
    <form action="/Employee_Post" method="post">
<h1 align="center">เพิ่มพนักงาน</h1>
        <input type="text" id="Name" name="Name" placeholder="Enter Name: ">
        <br>

        <input type="text" id="Phone" name="Phone" placeholder="Enter Phone Number: ">
        <br>

        <input type="text" id="Salary" name="Salary"  placeholder="Enter Salary: ">
        <br>

        <input type="text" id="Post" name="Post"  placeholder="Enter Post: ">
        <br>
        <input type="submit" value="เพิ่ม">
        <a href="/Employee_Page" class="button">กลับ</a>
    </form>
</body>

</html>
