<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <th>Product_Id</th>
            <th>Customer_Id</th>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>
                <%=Item.Product_Id%>
            </td>
            <td>
                <%=Item.Customer_Id%>
            </td>
            <td>
                <%=Item.Name%>
            </td>
            <td>
                <%=Item.Value%>
            </td>
        </tr>

    </table>
    <h1><a href="/Item_Page">กลับ</a></h1>
</body>

</html>